# Ignore all files
/*


# Unless
!custom-macros/
!language/
!src/
!styles/
!.github/
!/.gitignore
!/.editorconfig
!/LICENSE
!/module.json
!/package.json
!/package-lock.json
!/README.md
!/tsconfig.json
!/.icon.png